##############################
*.o
*.obj
*.ko
*.lo
*.la
*.so
*.dylib
*.a
*.lib
*.dll
*.exe
*.out
*.mod
*.map
*.exp
*.ilk
*.pdb
*.idb

#############################
build/
bin/
obj/
tmp/
temp/
dist/
*.tmp
*.bak

############
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
_CPack_Packages/
DartConfiguration.tcl
CTestTestfile.cmake
cmake_install.cmake
Makefile
[mM]akefile.Debug
[mM]akefile.Release
[mM]akefile.defs
[mM]akefile.objs
[mM]akefile.msvc
[mM]akefile.unix
[mM]akefile.mingw
conanbuildinfo.cmake
conan_deps.cmake

##############################
.vscode/
.idea/
*.swp
*.swo
*.swn
*.un~
*.sublime-project
*.sublime-workspace
*.xcarchive
*.xcodeproj
*.xcuserdatad
DerivedData/
*.code-workspace
*~
.#* #  (lock files)

###################
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
